## Projeto Automatizar Extração de Dados de Notas Fiscais


Objetivo

Automatizar extração de dados de notas fiscais e colocá-lo em uma planilha excel. 

Introdução

Cada Estado no Brasil segue um padrão de nota fiscal. Além disso, a estrutura xml de uma nota fiscal difere da estrutura xml
de uma nota fiscal de serviço. O código realizará tanto a leitura de Nota Fiscal(NF-e) com a leitura de Nota Fiscal de Serviço
(NFS-e), ambas do Estado do Rio de Janeiro. No entanto, é possível acrescentar leituras de outras estruturas de notas através de funções. 

Instalação

pip install openpyxl
pip install xmltodict
pip install pandas

